<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header'); %>

    <body>
      <div class="container">
        <%- include('../partials/navbar'); %>
  
        <% if (locals.errors) { %>
        <%- include('../partials/post_notifications'); %>
        <% } %>

        <% if (!locals.errors) { %>

            <main>
                <form class="text-center border border-light p-5" action="/edit/<%= post._id%>" method="POST">
                    <h1>Edit Course</h1>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" placeholder="Course name" value="<%= post.title%>" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" placeholder="Description" name="description"><%= post.description%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image url</label>
                        <input type="text" class="form-control" placeholder="Image Url" value="<%= post.imageUrl%>" name="imageUrl">
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text" class="form-control" placeholder="4 weeks" value="<%= post.duration%>" name="duration">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </main>

        <% } else { %>

            <main>
                <form class="text-center border border-light p-5" action="/edit/<%= post._id%>" method="POST">
                    <h1>Edit Course</h1>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" placeholder="Course name" value="<%= post.title%>" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" placeholder="Description" name="description"><%= post.description%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image url</label>
                        <input type="text" class="form-control" placeholder="Image Url" value="<%= post.imageUrl%>" name="imageUrl">
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text" class="form-control" placeholder="4 weeks" value="<%= post.duration%>" name="duration">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </main>

        <% } %>

        <%- include('../partials/footer')%>

    </div>

    <% if (locals.errors) { %>
        <script src="/js/script.js"></script>
    <% } %>
</body>

</html>